<div class='list-header'>
  <h1>Your Wishlist</h1>
</div>

<% if @wishes.empty? %>
  <div class="list empty-list">
    <p>You don't have anything on your Wishlist yet!</p>
    <%= link_to 'Create your first', new_wish_path, class: "navigation new" %>
  </div>
<% else %>
  <table class="list">
    <tr>
      <th></th>
      <th></th>
      <th class='column-one'>Country</th>
      <th>Budget</th>
      <th>Who's going with you?</th>
    </tr>
    <% @wishes.each do |wish| %>
      <tr>
        <td><%= link_to edit_wish_path(wish) do %>
            <i class="fas fa-edit" style="color:black"></i>
          <% end %>
        </td>
        <td><%= button_to wish_path(wish), method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt" style="color:black"></i>
          <% end %>
        </td>
        <td class='column-one'>
          <%= link_to wish.country.name, country_path(wish.country) %>
        </td>
        <td><%= wish.date.strftime('%B %Y') %></td>
        <td><%= wish.notes %></td>
      </tr>
      <%# be able to click on a wish to say you've been and make it a "visit" %>
      <%# add the date and notes %>
      <%# redirect to visits index %>
    <% end %>
    <tr>
      <td colspan="4">
        <%= link_to "Why not add another?", new_wish_path %>
      </td>
    </tr>
  </table>
<% end %>
