<div class='list-header'>
  <h1>Add to your Wishlist</h1>
</div>

<div class='form'>
  <%= simple_form_for @wish do |f| %>
    <%= f.association :country, collection: Country.order('name ASC'), label_method: :name, value_method: :id, prompt: "-- SELECT ONE --" %>
    <%= f.input :budget, placeholder: "£" %>
    <%= f.input :invited, label: "Who you going to invite?", placeholder: "Bernie" %>
    <%= f.button :submit, class: "navigation new", style: "" %>
  <% end %>
  <%= link_to 'Cancel', wishes_path, style: 'color: grey' %>
</div>
