<div class="list-header">
  <h1>Your Past Trips</h1>
  <br>
  <h3><%= pluralize(current_user.trip_count, 'trip') %> and counting...</h3>
</div>

<% if @visits.empty? %>
  <div class="list empty-list">
    <p>You haven't been anywhere yet!</p>
    <%= link_to 'Add a trip here', new_visit_path, class: "navigation new" %>
  </div>
<% else %>
  <table class='list'>
    <tr>
      <th></th>
      <th></th>
      <th class='column-one'>Country</th>
      <th>Date</th>
      <th>Notes</th>
      <th></th>
    </tr>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to edit_visit_path(visit) do %>
            <i class="fas fa-edit" style="color:black"></i>
          <% end %>
          <%# remote:true
          <%= render :partial => "form", locals: { wish: wish } do %>
            <%# Edit %>
          <%# <% end %>
        <%# <% end %>
        </td>
        <td><%= button_to visit_path(visit), method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt" style="color:black; background:none; border:none"></i>
          <% end %>
        </td>
        <td class='column-one'>
          <%= visit.country.name %>
        </td>
        <td><%= visit.date.strftime('%B %Y') %></td>
        <td><%= visit.notes %></td>
        <%# attach photos %>
        <% if visit.photos.attached? %>
          <td>
            <%# <% visit.photos.each do |photo| %>
              <%# <%= image_tag(photo) %>
            <%# <% end %>
            <%= link_to visit_path(visit) do %>
              <i class="fas fa-paperclip" style="color:black"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">
        <%= link_to "Add somewhere else you've visited", new_visit_path %>
      </td>
    </tr>
  </table>
<% end %>
