<div class="list-header">
  <h1>Your Past Trips</h1>
  <h3><%= pluralize(current_user.trip_count, 'trip') %> and counting...</h3>
</div>

<% if @visits.empty? %>
  <div class="list empty-list">
    <p>You haven't been anywhere yet!</p>
    <%= link_to 'Add a trip here', new_visit_path, class: "navigation new" %>
  </div>
<% else %>
  <table class='list'>
    <tr>
      <th></th>
      <th></th>
      <th class='column-one'>Country</th>
      <th>Date</th>
      <th>Notes</th>
      <th></th>
    </tr>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to edit_visit_path(visit) do %>
            <i class="fas fa-edit" style="color:black"></i>
          <% end %>
          <%# remote:true
          <%= render :partial => "form", locals: { wish: wish } do %>
            <%# Edit %>
          <%# <% end %>
        <%# <% end %>
        </td>
        <td><%= button_to visit_path(visit), method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt" style="color:black; background:none; border:none"></i>
          <% end %>
        </td>
        <td class='column-one'>
          <%= visit.country.name %>
        </td>
        <td><%= visit.date.strftime('%B %Y') %></td>
        <td><%= visit.notes %></td>
        <%# attach photos %>
        <td>
          <% if visit.photo.attached? %>
            <button type="button" class="fas fa-paperclip" data-bs-toggle="modal" data-bs-target="#countryImage"></button>
            <div class="modal fade" id="countryImage" tabindex="-1" aria-labelledby="countryImageLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="countryImageLabel"><%= visit.country.name %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= cl_image_tag visit.photo.key, height: 300, width: 465, crop: :fill %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">
        <%= link_to "Add somewhere else you've visited", new_visit_path %>
      </td>
    </tr>
  </table>
<% end %>


<%= javascript_pack_tag 'visits' %>
