<div class="actions mt-5">
  <%= link_to "Back to your Wishlist", wishes_path, class: "navigation" %>
</div>

<div class="play-window mt-5">
  <img src=<%= @country.flag %> alt="">

  <h1><%= @country.name %></h1>

  <h3> Capital: <%= @country.capital&.split&.join(' ') %> </h3>

  <h3> Population: <%= number_with_delimiter(@country.population) %> </h3>

  <h3> Languages spoken: <%= @country.languages.gsub!(/\W/, " ") %> </h3>
  <%# <p> Bordering countries: <%= @country.borders %>
</div>
